.cart {
    display: flex;
  }
  
  .item-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
  }
  
  .item-heading p {
    padding: 0 10px;
    text-align: center;
  }
  
  .cart-items {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
    width: 50vw;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid gray;
  }
  
  .cart-item img {
    height: 100px;
    width: 100px;
  }
  
  .cart-item p {
    width: 100px;
  }
  
  .cart-item button {
    width: 50px;
  }
  
  p.price {
    text-align: center;
    padding-right: 20px;
  }
  
  .item-link:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .cart-details {
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
  }
  
  .cart-details h2,
  .item-heading p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 1000px) {
    .cart-items {
      margin: 50px 50px;
      width: 700px;
    }
  
    .cart-details {
      margin: 50px 50px;
      width: 250px;
    }
  
    .cart-details button {
      width: 110px;
    }
  }
  
  @media (max-width: 775px) {
    .cart {
      display: flex;
      flex-direction: column;
    }
  
    .cart-items {
      margin: 50px 50px;
      width: 80vw;
    }
  }
  
  @media (max-width: 550px) {
    .cart-items {
      margin: 50px 50px;
      width: 80vw;
    }
  
    .item-heading {
      display: none;
    }
  
    .cart-item img {
      display: none;
    }
  
    .cart-details button {
      font-size: 16px;
      width: 110px;
    }
  
    .cart-details h2 {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }