.product {
    margin: 0 auto;
    margin-top: 25px;
    width: 150px;
}

.product:hover {
    cursor: pointer;
}

.product img {
    height: 150px;
    width: 150px;
}

.product p {
    text-align: center;
    line-height: 36px;
}

@media (max-width: 500px) {
    .product {
        margin: 0 auto;
        margin-top: 25px;
        width: 200px;
    }

    .product img {
        height: 200px;
        width: 200px;
    }
}