.landing {
  background-image: url('https://media1.fdncms.com/sacurrent/imager/u/original/7097443/screen_shot_2017-11-07_at_1.05.15_pm.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1740px) {
}

@media (max-width: 1500px) {
}

@media (max-width: 1300px) {
}