.userMenu {
    position: absolute;
    right: 0px;
    top: 150px;
    min-height: 30vh;
    padding: 20px;
    background-color: seagreen;
  }
  
  .menu h4 {
    color: snow;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .menu h4:visited {
    color: snow;
  }