.home {
    width: 100%;
    height: 100vh;
    background-color: sandybrown;
}

.topCtnr {
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

.btmCtnr {
    width: 100vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: firebrick;
}

.trails-container {
    width: 90vw;
    height: 42vh;
    background-color: green;
}

.campgrounds-container {
    width: 90vw;
    height: 42vh;
    background-color: peru;
}

.containers-title {}

.river-container {}