.logout {
    font-size: 24px;
    background-color: seagreen;
    border: none;
}

.logout:hover {
    cursor: pointer;
}


.remove {
    background-color: sienna;
    border: none;
    padding-right: 40px;
}

.remove:hover {
    cursor: pointer;
}


.submit {
    margin-top: 20px;
    font-size: 20px;
    background-color: steelblue;
    border-radius: 5px;
}

.submit:hover {
    color: steelblue;
    background-color: black;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}