.nav {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: olivedrab;
}

.nav-links{
    width: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: peru;
}

.explore-button{
    width: 25%;
    justify-content: space-around;
    align-items: center;
    background-color: powderblue;
}

.plan-button{
    width: 25%;
    justify-content: space-around;
    align-items: center;
    background-color: slateblue;
}

.nav-img{
    width: 60%;
    align-items: center;
    background-color: greenyellow;
}

.nav-avatar{
    width: 15%;
    justify-content: flex-end;
    align-items: center;
    background-color: peru;
}