.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-links{
    width: 10%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-img{}

.nav-avatar{}